<ion-header [translucent]="true">
  <ion-toolbar class="background-color">
    <ion-title class="uppercase"> Fizzbuzz game </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="uppercase">Fizzbuzz game</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="uppercase">
      <strong>Fizzbuzz game</strong>
    </h1>
    <app-game-form></app-game-form>
  </div>
</ion-content>
