ion-router-outlet {
  background-color: #e4e4e4;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  margin-bottom: 5rem;
}
